name: Publish 'latest' image

on:
  release:
    types:
      - "created"

jobs:
  cd:
    uses: decentraland/platform-actions/.github/workflows/apps-docker-release.yml@main
    with:
      service-name: third-party-providers-resolver
      dockerfile-url: https://raw.githubusercontent.com/decentraland/platform-actions/main/Dockerfile.alpine
      deployment-environment: prd
    secrets: inherit
